@using Abp.Configuration
@using Fun2RepairMVC.Configuration
@{
//var CopyrightInformation = SettingManager.GetSettingValue(AppSettingNames.CopyrightInformation);
}
<div id="footerbar" class="footerbar">
   @*@CopyrightInformation*@
</div>