<!--nav-->
<nav id="header-nav" class="navbar navbar-inverse">
    <div class="container-fluid">
      
       @*@Html.Action("TopMenu", "RootLayout", new { activeMenu = ViewBag.ActiveMenu })*@
       
    </div>
</nav>
<!--nav end-->
